@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite/src/themes/default";

html {
    font-family: "Plus Jakarta Sans", sans-serif;
    scroll-behavior: smooth;
  }

  [id] {
    scroll-margin-top: 2.5rem; /* adjust to match top-14 or header height */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }